# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
junit.xml
*.cover
.hypothesis/
.mypy_cache

# Documentation
docs/_build
docs/packages

# VirtualEnv
env

# VSCode
.vscode

# Idea / PyCharm
.idea
