# Everything needed to develop (test, debug) the framework.
# The runtime dependencies of the framework, as if via `pip install kopf`.
-e .
aresponses
astpath[xpath]
certbuilder
certvalidator
codecov
coverage
coveralls
freezegun
import-linter
isort
lxml
mypy==1.8.0
pre-commit
pyngrok
pytest>=6.0.0
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-mock
pytest-timeout
types-pkg_resources
types-PyYAML
