# Everything needed to develop (test, debug) the framework.
# The runtime dependencies of the framework, as if via `pip install kopf`.
-e .
aresponses
astpath[xpath]
async-timeout
asynctest
certbuilder
certvalidator
codecov
coverage
coveralls
freezegun
import-linter
isort>=5.5.0
lxml
# Mypy requires typed-ast, which is broken on PyPy 3.7 (could work in PyPy 3.8).
mypy==0.910; implementation_name == "cpython"
pre-commit
pyngrok
pytest>=6.0.0
pytest-aiohttp
pytest-asyncio
pytest-cov
pytest-mock
types-pkg_resources
types-PyYAML
