# Everything needed to build the docs.
# The runtime dependencies of the framework, as if via `pip install kopf`.
-e .
sphinx>=2.0.0
sphinx-autobuild
sphinx-autodoc-typehints
sphinx_rtd_theme>=0.5

# Added 2023-05-06. TODO: Remove when resolved: https://github.com/psf/requests/issues/6432
urllib3<2.0.0
