name: Publish to PyPI
on:
  release:
    types:
      - published
#  push:
#    tags:
#      - "[0-9]+.[0-9]+*"
  workflow_dispatch: {}

jobs:
  publish:
    name: Build and publish
    runs-on: ubuntu-24.04
    permissions:
      id-token: write  # for trusted publishing
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - run: uv build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip_existing: true
