name: Publish to PyPI
on:
  release:
    types:
      - published
#  push:
#    tags:
#      - "[0-9]+.[0-9]+*"
  workflow_dispatch: {}

jobs:
  publish:
    name: Build and publish
    runs-on: ubuntu-20.04
    permissions:
      id-token: write  # for trusted publishing
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install --upgrade pip setuptools wheel twine
      - run: python setup.py sdist bdist_wheel
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip_existing: true
